.check {
  display: none;
  cursor: pointer;

  &__label {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__title {
      flex-grow: 1;
    }

    .label-text {
      display: inline-block;
      margin: 0;
      cursor: pointer;
    }

  }

  &__icon {
    font-size: $font-size-default;
    transition: all .3s;
    cursor: pointer;
  }

  &:checked+&__label &__icon {
    transform: rotate(90deg);
  }
}

.chart-wrapper {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: all .5s;
}

.check-chart:not(:checked)~.chart-wrapper {
  opacity: 0;
  max-height: 0;
}


.check-chart:checked~.chart-wrapper {
  opacity: 1;
  max-height: 35rem;
}
