.title {
  font-size: 1.6rem;
  font-weight: 500;
  background-image: linear-gradient(to bottom right, $color-primary, $color-secondary);
  padding: 1rem;
  color: $color-white;
}

.current-problem {
  padding: 1rem;

  &__name {
    font-size: 3rem;
    display: block;
  }

  &__difficulty {
    display: inline-block;
    border-radius: 1rem;
    color: $color-white;
    font-size: 1rem;
    padding: .3rem .8rem .3rem 1.1rem; // 1.1rem => fix for letter spacing
    text-transform: uppercase;
    letter-spacing: .3rem;
  }

  // PILLS
  .easy {
    background-color: $color-emerald;
  }

  .medium {
    background-color: $color-amber;
  }

  .hard {
    background-color: $color-ruby;
  }
}


.timer-wrapper {
  background-color: $color-pop-gray-1;
  padding: 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  .actions {
    display: flex;
    justify-content: center;
  }

  .timer {
    font-size: 4rem;

    &>span {
      display: inline-block;
    }

    #sec {
      width: 4rem;
      font-size: 3rem;
    }

    #milisec {
      width: 2rem;
      margin-left: .5rem;
      font-size: 1.5rem;
    }
  }
}

@mixin hoverSetter($color) {
  &:hover {
    background-color: darken($color, 10%);
    border: 1px solid darken($color, 20%);
  }
}

/* Buttons */

.btn {
  $used-color: $color-gray-6;

  &>span {
    display: inline-block;
  }

  .material-icons {
    font-size: $font-size-default;
    padding: 0;
  }

  &,
  &:link,
  &:active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 1rem;
    background-color: $used-color;
    border: 1px solid darken($used-color, 5%);
    border-radius: $size-subtle-border;
    padding: 1rem 2rem;
    outline: none;
    transition: all .2s;

    cursor: pointer;
  }

  &-txt {
    padding: 0 1rem;
  }

  @include hoverSetter($used-color);

  &-actions {
    border-radius: 3px;
    text-transform: uppercase;
  }

  &-start {
    $used-color: $color-primary;
    background-color: $used-color;
    border: 1px solid darken($used-color, 10%);

    @include hoverSetter($used-color);
  }

  &-reset {
    $used-color: $color-tomato;
    background-color: $used-color;
    border: 1px solid darken($used-color, 10%);

    @include hoverSetter($used-color);
  }

  &-save {
    $used-color: $color-secondary;
    background-color: $used-color;
    border: 1px solid darken($used-color, 10%);

    @include hoverSetter($used-color);
  }
}

.table-wrapper {
  padding: 1rem 0;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: stretch;
}

.search {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  &__input {
    flex-grow: 1;
    margin-left: 0;
  }

  &__btn {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2rem;
  }
}

table {
  border-collapse: collapse;
}

tbody,
th,
td {
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
}

tr {
  &:nth-child(even) {
    background-color: rgba($color-gray-5, 0.5);
  }
}

.table {
  display: block;
  padding: 1rem;
  width: 100%;

  &__heading {
    text-transform: uppercase;
    background-color: rgba($color-primary, .9);
  }

  &__body {

    // Colorize in table
    .easy {
      color: $color-emerald;
    }

    .medium {
      color: $color-amber;
    }

    .hard {
      color: $color-ruby;
    }
  }

  a {

    &:link,
    &:visited {
      text-decoration: none;
      transition: all .2s;
    }

    &:hover {

      &::before {
        content: "🔗";
        font-size: $font-size-default;
      }

      color: $color-primary;
    }
  }
}

/* CheckBox hacks */
.check {
  display: none;
  cursor: pointer;

  &__label {
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__title {
      flex-grow: 1;
    }

    .label-text {
      display: inline-block;
      margin: 0;
      cursor: pointer;
    }

  }

  &__icon {
    font-size: $font-size-default;
    transition: all .3s;
    cursor: pointer;
  }

  &:checked+&__label &__icon {
    transform: rotate(90deg);
  }
}

.chart-wrapper {
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .3s;
  opacity: 0;
}

.check-chart:checked~.chart-wrapper {
  display: block;
  max-height: 100%;
  opacity: 1;
  transform: scaleY(1);
}

.table-wrapper {
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .3s;
  opacity: 0;
}

.check-table:checked~.table-wrapper {
  display: block;
  max-height: 100%;
  opacity: 1;
  transform: scaleY(1);
}
