// FONTS
$font-family-default: 'Poppins',
Roboto;
$font-size-default: 1.6rem;
$font-weight-default: 500;

// COLORS
$color-primary: #0984e3;
$color-secondary: #00b894;

$color-amber: rgb(239,113,9);
$color-emerald:rgb(68,160,72);
$color-ruby:rgb(233,32,99);

$color-white: #fff;

$color-gray-1: #f7f7f7;
$color-gray-2: #e7e7e7;
$color-gray-3: #d1d1d1;
$color-gray-4: #969696;
$color-gray-5: #555;
$color-gray-6: #444;
$color-gray-7: #333;
$color-gray-8: #222;

$color-black: #000;


// SIZES
$size-subtle-border: 3px;
